{% extends "base_module.html.twig" %}

{% block module %}
	<div class="pageTitle">
		<h2>{$lblFaq|ucfirst}: {$lblCategories}</h2>

		{% if showFaqAddCategory %}
		<div class="buttonHolderRight">
			<a href="{$var|geturl:'add_category'}" class="button icon iconAdd"><span>{$lblAddCategory|ucfirst}</span></a>
		</div>
		{% endif %}
	</div>
	{% if dataGrid %}
		<div class="dataGridHolder">
			{{ dataGrid|raw }}
		</div>
	{% else %}
		{$msgNoCategories}
	{% endif %}
{% endblock %}
